@import './colors.css';

aside {
    border-radius: 15px;
    font-size: 1.2rem;
}

address {
    font-style: normal;
    padding: 5px;
    line-height: 1.5;
}

.aside-list {
    list-style: none;
}

.aside-list li {
    padding: 5px;
}

@media (min-width: 768px) and (max-width: 1028px) {
    aside {
        font-size: 1rem;
    }

    aside h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 825px) {
    aside {
        font-size: 0.9rem;
    }

    aside h3 {
        font-size: 1.1rem;
    }
}