@import './colors.css';

.social-media {
    display: flex;
    align-items: center;
}

.social-media span {
    padding-bottom: 5px;
}

.notes {
    font-size: 0.9rem;
}

@media (max-width: 400px) {
    .social-media {
        flex-direction: column;
    }
}