@import './colors.css';

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "profile name language"
        "profile desc language"
        "profile short language";
    gap: 20px;
    justify-content: space-around;
}

header p {
    padding: 0 5px;
    text-align: justify;
}

.profile {
    grid-area: profile;
    height: 310px;
    width: auto;
    border: 3px solid var(--border-shadow);
    border-radius: 15%;
    box-shadow: 8px 8px 5px var(--border-shadow);
}

.name {
    grid-area: name;
}

.desc {
    grid-area: desc;
}

.short {
    grid-area: short;
}

@media (min-width: 768px) and (max-width: 1028px) {
    header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "profile name language"
            "profile desc language"
            "short short short";
    }
}

@media (max-width: 767px) {
    header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "profile language"
            "name name"
            "desc desc"
            "short short";
    }

    .profile {
        height: 250px;
    }
}